# IntelliJ IDEA
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar

# Virtual Machine crash logs
hs_err_pid*
replay_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

# Visual Studio Code
.vscode/
.code-workspace